<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pethub">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetHub"
        tools:targetApi="31">
        <activity
            android:name=".main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userauthentication.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".chat.SelectionActivity"
            android:label="Pet Sitters" />
        <activity android:name=".userauthentication.SignupActivity" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="Chat"/>
        <activity android:name=".chat.HireActivity" />
        <activity android:name=".chat.BookingActivity" />
        <activity
            android:name=".sitter.SitterMainActivity"
            android:exported="false" />

        <activity
            android:name=".sitter.SitterApplicationActivity"
            android:exported="false" />

        <activity
            android:name=".sitter.SitterEditActivity"
            android:exported="false" />
        <activity
            android:name=".chat.ConversationListActivity"
            android:label="Conversations"
            android:exported="false" />

        <activity
            android:name=".sitter.OwnerEditActivity"
            android:exported="false" />

        <activity
            android:name=".sitter.OwnerMainActivity"
            android:exported="false" />
        <activity android:name=".community.community"/>
        <activity android:name=".community.rating" />
        <activity android:name=".community.pod" />
        <activity android:name=".community.ViewRatingsActivity" />
        <activity android:name=".community.RatePostActivity" />

    </application>

</manifest>